In [38]:
import pandas as pd
from glob import glob

In [39]:
def data_merge(paths):
    data = []
    for path in paths:
        data.append(pd.read_csv(path,index_col=None, header=0))
    return data

In [40]:
path = '/home/raian/Desktop/automate-score-el-qs-fn-std-stderr/Final_Result/11-texon/simulated_*genes_strongILS/'
Estmeted_EL = glob(path+'Result_of__simuleted__EL__*.csv')
Estmeted_FN = glob(path+'Result_of__simuleted__FN__*.csv')
Estmeted_QS = glob(path+'Result_of__simuleted__QS__*.csv')

EL_frame = pd.concat(data_merge(Estmeted_EL))
FN_frame = pd.concat(data_merge(Estmeted_FN))
QS_frame = pd.concat(data_merge(Estmeted_QS))

EL_frame['Score'] = EL_frame.apply(lambda row: str(row['Score']), axis=1)
EL_frame['stderr'] = EL_frame.apply(lambda row: str(row['stderr']), axis=1)

FN_frame['Score'] = FN_frame.apply(lambda row: str(row['Score']), axis=1)
FN_frame['stderr'] = FN_frame.apply(lambda row: str(row['stderr']), axis=1)

QS_frame['Score'] = QS_frame.apply(lambda row: str(row['Score']), axis=1)
QS_frame['stderr'] = QS_frame.apply(lambda row: str(row['stderr']), axis=1)

path1 = '/home/raian/Desktop/automate-score-el-qs-fn-std-stderr/Final_Result/11-texon/simuleted_'
writer = pd.ExcelWriter(path1+'EL_QS_FN_strongILS.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
EL_frame.to_excel(writer, sheet_name='EL')
QS_frame.to_excel(writer, sheet_name='QS')
FN_frame.to_excel(writer, sheet_name='FN')

# # Close the Pandas Excel writer and output the Excel file.
writer.save()

In [41]:
EL_frame

                 name   Score               stderr
0       EL_Phylonet25    32.7   0.9195107394696379
1           EL_True25    32.7   0.9195107394696379
2   EL_Astral_exact25   142.7   27.611691364347802
3         EL_Astral25   142.7   27.611691364347802
0      EL_Phylonet100   128.5   2.2743130831088303
1          EL_True100   128.5   2.2743130831088303
2  EL_Astral_exact100  560.25    98.85575033856149
3        EL_Astral100  560.25    98.85575033856149
0       EL_Phylonet15    18.2   0.7300684899377591
1           EL_True15   18.95   0.7761282110579408
2   EL_Astral_exact15   65.95     12.2450959571577
3         EL_Astral15   65.95     12.2450959571577
0       EL_Phylonet50    64.9     1.50316333111209
1           EL_True50    64.9     1.50316333111209
2   EL_Astral_exact50   268.5     55.5841029431977
3         EL_Astral50   268.5     55.5841029431977
0        EL_Phylonet5    6.65    0.362456893988789
1            EL_True5    7.15  0.39544278979392206
2    EL_Astral_exact5    13.7     2.26506070558826
3          EL_Astral5    13.7     2.26506070558826

In [42]:
QS_frame

                 name     Score              stderr
0         QS_Astral25   7708.45    20.4123093989877
1   QS_Astral_exact25   7708.45    20.4123093989877
2           QS_True25   7708.25    20.5579516246147
3       QS_Phylonet25   7708.45    20.4123093989877
0        QS_Astral100  30844.25    47.9189876249488
1  QS_Astral_exact100  30844.25    47.9189876249488
2          QS_True100  30844.25    47.9189876249488
3      QS_Phylonet100  30844.25    47.9189876249488
0         QS_Astral15    4637.9    15.0003166633241
1   QS_Astral_exact15    4637.9    15.0003166633241
2           QS_True15    4619.5    17.5800312855239
3       QS_Phylonet15    4637.9    15.0003166633241
0         QS_Astral50  15412.55  31.908108295541396
1   QS_Astral_exact50  15412.55  31.908108295541396
2           QS_True50  15412.55  31.908108295541396
3       QS_Phylonet50  15412.55  31.908108295541396
0          QS_Astral5    1536.8   6.857696406228549
1    QS_Astral_exact5    1536.8   6.857696406228549
2            QS_True5    1528.0    7.27323861838727
3        QS_Phylonet5    1536.8   6.857696406228549

In [43]:
FN_frame

              name    Score              stderr
0         FN_ast25  0.00625  0.0060917464655056
1   FN_ast_exact25  0.00625  0.0060917464655056
2         FN_phy25  0.00625  0.0060917464655056
0        FN_ast100      0.0                 0.0
1  FN_ast_exact100      0.0                 0.0
2        FN_phy100      0.0                 0.0
0         FN_ast15   0.0625  0.0165359456941537
1   FN_ast_exact15   0.0625  0.0165359456941537
2         FN_phy15   0.0625  0.0165359456941537
0         FN_ast50      0.0                 0.0
1   FN_ast_exact50      0.0                 0.0
2         FN_phy50      0.0                 0.0
0          FN_ast5   0.0625  0.0139754248593737
1    FN_ast_exact5   0.0625  0.0139754248593737
2          FN_phy5  0.06875  0.0139053721633044